.body {
    background-color: lightgrey;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.card {
    list-style: none;
    padding: 40px;
    text-align: center;
}

.pokelogo {
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0px;
}

.type-sub {
    font-weight: lighter;
    margin-top: 5px;
}

.card-image {
    height: 180px;
}
/* Type input colors */
.normal {
    color: #9f9f8f;
}
.fire {
    color:#ff4422;
}
.water {
    color:#3399ff ;
}
.electric {
    color:#ffcc33  ;
}
.grass {
    color:#77cc55;
}
.ice {
    color:#69cdff ;
}
.fighting {
    color: #c16454 ;
}
.poison {
    color:#aa5599;
}
.ground {
    color:#e0c266 ;
}
.flying {
    color: #90a0ff;
}
.psychic {
    color: #ff569a;
}
.bug {
    color: #b0c032;
}
.rock {
    color: #bbaa66;
}
.ghost {
    color:#7272bf ;
}
.dragon {
    color:#7766ee ;
}
.dark {
    color:#775645 ;
}
.steel {
    color: #aaaabb;
}
.fairy {
    color:#efa1ef ;
}
