body {
    /* background-color: lightgrey; */
    background-color: #FAF9F6;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
ol li {

}

.pill {
    /* width: 100%;
    height: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 20%; */
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
}

.card {
    list-style: none;
    padding: 40px;
    text-align: center;
}

.pokelogo {
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card-title {
    text-transform: capitalize;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0px;
}

.type-sub {
    font-weight: lighter;
    margin-top: 5px;
    text-transform: capitalize;
}

.card-image {
    height: 150px;
    
}
/* Type input colors */
.normal {
    background-color: #9f9f8f;    
}
.fire {
    background-color:#ff4422;
}
.water {
    background-color:#3399ff ;
}
.electric {
    background-color:#ffcc33  ;
}
.grass {
    background-color:#77cc55;
}
.ice {
    background-color:#69cdff ;
}
.fighting {
    background-color: #c16454 ;
}
.poison {
    background-color:#aa5599;
}
.ground {
    background-color:(#e0c266);
}
.flying {
    background-color: #90a0ff;
}
.psychic {
    background-color: #ff569a;
}
.bug {
    background-color: #b0c032;
}
.rock {
    background-color: #bbaa66;
}
.ghost {
    background-color:#7272bf ;
}
.dragon {
    background-color:#7766ee ;
}
.dark {
    background-color:#775645 ;
}
.steel {
    background-color: #aaaabb;
}
.fairy {
    background-color:#efa1ef ;
}






normal : '#9f9f8f'
fire : '#ff4422'
water : '#3399ff'
electric : '#ffcc33'
grass : '#77cc55'
ice : '#69cdff'
fighting : '#c16454'
poison : '#aa5599'
ground : '#e0c266'
flying : '#90a0ff'
psychic : '#ff569a'
bug : '#b0c032'
rock : '#bbaa66'
ghost : '#7272bf'
dragon : '#7766ee'
dark : '#775645'
steel : '#aaaabb'
fairy : '#efa1ef'